<header>
    <img src="{{ '/assets/images/logo.svg' | relative_url }}" class="nav-logo" alt="Logo">
    <nav class="main-nav">
        <div class="nav-brand">
            <a href="{{ '/' | relative_url }}" class="logo">
                <svg src="assets/images/logo.svg"/>
            </a>
        </div>
        <button class="nav-toggle" aria-label="toggle navigation">
            <span class="hamburger"></span>
        </button>
        <ul class="nav-links">
            <li><a href="{{ '/ai/' | relative_url }}" {% if page.url contains '/ai/' %}aria-current="page"{% endif %}>AI</a></li>
            <li><a href="{{ '/projects/' | relative_url }}" {% if page.url contains '/projects/' %}aria-current="page"{% endif %}>Projects</a></li>
            <li><a href="{{ '/services/' | relative_url }}" {% if page.url contains '/services/' %}aria-current="page"{% endif %}>Services</a></li>
        </ul>
    </nav>
</header>
