/* overrides section */
.jumbotron .second-line p {
  text-transform: none !important;
}
/* end overrides section */

/* xemantic styles section */
.x-top-logo {
  height: 32px;
  margin-top: 13px;
}

@media (max-width: 767px) {
  .x-top-logo {
    height: 32px;
    margin-top: 10px;
  }
}

.x-skills {
    padding: 0px;
    text-align: center;
}

.x-skills li {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 300;
    margin: 10px;
    background:transparent;
    border:3px solid #fff;
    border-radius:5px;
    font-size:21px;
    padding:15px 20px;
    text-decoration:none;
    -webkit-transition:all .2s ease-out;
    transition:all .2s ease-out;
}

.x-skills li:hover {
    opacity:1;
    background:#fff;
    color:#9661A8;
}

#why h1 {
  margin-top: 0;
  margin-bottom: 35px;
  padding: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.02em;
  word-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
}

.x-declaration p {
   font-size: 22px;
   line-height: 32px;
   font-weight: 300;
   text-align: center;
   word-spacing: 5px;
   margin-bottom: 40px;
}
/* end xemantic styles section */