/* Reset and base styles */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Fluid base size in the root element */
html {
  /* Scales from 16px at 320px viewport to 20px at 1200px viewport */
  font-size: clamp(16px, 14px + 0.5vw, 30px);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: black;
  color: #e0e0e0;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  line-height: 1.618;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #ffffff;
}

h1 {
  font-size: 2.5rem;  /* 40px - 50px */
}

h2 {
  font-size: 2rem;    /* 32px - 40px */
}

h3 {
  font-size: 1.75rem; /* 28px - 35px */
}

h4 {
  font-size: 1.5rem;  /* 24px - 30px */
}

p, ol, h1, h2, h3, h4, h5, h6, main > ul {
  padding-left: max(calc((100% - 70ch) / 2), 1rem);
  padding-right: max(calc((100% - 70ch) / 2), 1rem);
}

p:not(:has(> img:only-child)), main > ul {
  background: rgba(30, 30, 30, 0.7);
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

/* Match first p in a sequence */
p:not(p + p) {
  border-top: 1px solid rgba(130, 130, 130, 0.7);
}

/* Match last p in a sequence */
p:not(+ p) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

small {
  font-size: 0.875rem;
}

/* Media elements */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/* Form elements */
input, button, textarea, select {
  font: inherit;
}

/* Typography */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Remove list styles */
ul[class],
ol[class] {
  list-style: none;
}




/* Wider container for media content */
main :where(img, video, .full-width) {
  width: min(100%, 120ch);
  margin-inline: auto;
}

/* Responsive breakpoints */
@media (min-width: 640px) {

}

@media (min-width: 1024px) {

}
